body{
    text-align: center;
}
table{
    border: 2px solid black;
    background-color: blanchedalmond;
    margin-left: 680px;
    margin-top: 40px;
    
}
tr, th, td{
 border: 1px solid black;
 width:auto;
 padding: auto;
}
input{
    padding-left: 10px;
    text-align: center;
    border-radius: 6px;
}
input:hover{
    background-color: black;
    color: white;
}
#add:hover, #sub:hover, #mut:hover, #div:hover{
    background-color: green;
    cursor: pointer;
}
#add, #sub, #mut, #div, #clear{
    border-radius: 8px;
    padding: auto;
    width: auto;
}
#clear:hover{
    background-color: red;
    cursor: pointer;
}
